<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /manager/htdocs/manager\ web/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !\.pdf$
  RewriteRule . /manager/htdocs/manager\ web/index.html [L]
</IfModule>